@import 'reset.css';

* {
    text-decoration: none;

}


$main-font-size: 16px;
$main-color: black;
$main-font: 'IBM Plex Mono', monospace;
$sub-color: #356EC2;


@mixin main-text {
    font-size: $main-font-size;
    font-family: $main-font;
    color: $main-color;
}

@mixin main-title {
    font-size: 20px;
    font-family: $main-font;
    strong {
        background: $sub-color;
        border-radius: 0;
    }
}
strong {
    background-color: $sub-color;
    color: white;
    padding: 2px 5px;
    box-sizing: border-box;
    margin: 0 2px;

}

.container {
    padding: 0 calc(50% - 570px);
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 991px) {
    .container {
        padding: 0 60px;
    }
}
@media (max-width: 576px) {
    .container {
        padding: 0 20px;
    }
}



.icon {
    width: 28px;
    position: relative;
    top: 8px;
}


.header {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    &__wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
    }
    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    &__name {
        font-family: $main-font;
        font-size: 22px;
        color: white;
        background-color: $sub-color;
        margin-top: 10px;
    }
    &__contact {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        align-content: space-between;
    }
    &__img {
        display: flex;
        box-sizing: border-box;
        max-width: 135px;
        height: 135px;
        img {
            border-radius: 50%;
            width: 100%;
        }
    }
    &__description {
        width: 100%;
        line-height: 2;
        @include main-text;
    }
}

@media (max-width: 576px) {
    .header {
        height: 100%;
        margin-top: 20px;
    }
}

.main__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .main__wrapper {
        flex-direction: column;
    }
}
.about {
    width: 50%;
    &__title {
        @include main-title;
        margin-bottom: 40px;
        margin-top: 100px;
    }
    &__desc {
        @include main-text;
        margin-bottom: 20px;
        line-height: 2;
    }
}
@media (max-width: 991px) {
    .about {
        width: 100%;
    }
}

.contact__item {
    @include main-text;
    display: flex;
    margin-right: 10px;
    color: $main-color;
    text-align: center;
    margin-top: 10px;
    &:hover {
        cursor: pointer;
        opacity: .7;
    }
    a {
        display: block;
    } 
}


.portfolio {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    &__title {
        margin-top: 100px;
        @include main-title;
        margin-bottom: 40px;
        width: 50%;
        margin-right: 0;
        margin-left: auto;
    }
    &__img {
        position: relative;
        width: 50%;
        margin: 25px 0;
        margin-right: 0;
        margin-left: auto;
        &:hover div {
            opacity: 1;
            transition: opacity .4s;
        }
        img {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 50px;
        }
    }
    &__circle {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: $sub-color;
        top: -15px;
        z-index: -1;
        left: -15px;
        clip-path: circle(50% at 50% 50%);

    }
    &__group {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        background-color: white;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        opacity: 0;
        border-radius: 50px;
        transition: opacity .4s;
    }
    &__link {
        @include main-title;
        color: $main-color;
        &:hover {
            cursor: pointer;
            background-color: $sub-color;
            color: white;
        }
    }
}

@media (max-width: 991px) {
    .portfolio {
        width: 100%;
        &__title {
            width: 100%;
        }
        &__img {
            margin: 25px 0;
            width: 100%;
        }
        &__group {
            opacity: .8;
            left: 50%;
            border-radius: 0;
        }
    }
}

@media (max-width: 768px) {
    .header__wrapper {
        width: 100%;
    }
}
