.header{
    &__wrapper {
        width: 100%;
        height: 100vh;
        background: radial-gradient(100% 100% at 52.01% 53.93%, rgba(255, 255, 255, 9e-06) 0%, rgba(0, 0, 0, 0.045) 100%), #F4F4F4;
        margin: 0 auto;
        padding: 0 120px;
        box-sizing: border-box;
    }
    &__wrapper-inner {
        height: 100%;
        width: 100%;
        background-image: url('img/GReeenco.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 70px 0;
        box-sizing: border-box;
    }
    &__label {
        font-family: 'Big John';
        color: #7A797A;
        font-size: 34px;
    }
    &__background-plant {
        z-index: 100;
        bottom: 0;
        position: absolute;
        right: 160px;
        height:70%;
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    &__item:last-child {
        position: relative;
        cursor: pointer;
        opacity: .7;
        &:hover {
            opacity: 1;
            transition: .2s;
        }
    }
}

// dropdown menu //
a {
    
      color: #7a797a;
}
.dropdown__menu {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    pointer-events: none;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .dropdown__menu:hover {
    pointer-events: all;
  }
  .menu__item:first-child {
    pointer-events: all;
  }
  
  .dropdown__item {
      position: relative;
      margin-left: 30px;
      top: 10px;
      opacity: 0;
      transition: opacity 0.5s ease, top 0.5s;
      font-family: 'Big John';
      color: #7a797a;
      font-size: 24px;
      &:hover > a {
          
        opacity: 1;
      }
  }
  .label {
      display: inline-block;
      cursor: pointer;
      pointer-events: all;
  }
  .dropdown__menu:hover .dropdown__item {
      opacity: .5;
      top: 0px;
  }
  .dropdown__item:nth-child(1) {
    transition-delay: 0.45s;
  }
  .dropdown__item:nth-child(2) {
    transition-delay: 0.4s;
  }
  .dropdown__item:nth-child(3) {
    transition-delay: 0.35s;
  }
  .dropdown__item:nth-child(4) {
    transition-delay: 0.3s;
  }
  .dropdown__item:nth-child(5) {
      transition-delay: 0.25s;
    }
  
  .dropdown__menu:hover .dropdown__item:nth-child(1) {
    transition-delay: 0.25s;
  }
  .dropdown__menu:hover .dropdown__item:nth-child(2) {
    transition-delay: 0.3s;
  }
  .dropdown__menu:hover .dropdown__item:nth-child(3) {
    transition-delay: 0.35s;
  }
  .dropdown__menu:hover .dropdown__item:nth-child(4) {
    transition-delay: 0.4s;
  }
  .dropdown__menu:hover .dropdown__item:nth-child(5) {
      transition-delay: 0.45s;
    }
  
  
  @media (max-width: 768px) {

      .dropdown__menu {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
      }
      .dropdown__item {
          margin-top: 20px;
          margin-left: 0;
      }
  }


@media (max-width: 991px) {
    .header__background-plant {
        height: 40%;
    }
}
@media (max-width: 576px) {
    .header{
        &__wrapper {
            padding: 0 20px;
        }
        &__background-plant {
            right: 0;
        }
    }
}