.gallery {
    &__outer {
        position: relative;
        height: 100%;
        width: 100%;
    }
    &__outer::before {
        content: '';
        z-index: -1;
        position: absolute;
        background-color: #4A4A4A;
        left: 0;
        top: 0;
        right: 0;
        bottom: 20%;
    }
    &__inner {
        padding-top: 100px;
        display: flex;
        flex-direction: row;
    }
}
.network {
    &__list{
        height: 100%;
        width: 22px;
        z-index: 5;
        padding-left: 40px;
        padding-top: 50px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__item {
        padding-bottom: 21px;
        img {
            width: 20px;
        }
        &:hover {
            opacity: 0.6;
            transition: .4s;
        }
        &-action {
            font-family: 'Big John';
            color: white;
            font-size: 14px;
            letter-spacing: 2.8px;
            transform: rotate(90deg);
            white-space: nowrap;
        }
    }

}

@media (max-width: 991px) {
    .network {
        &__list {
            padding: 0;
            flex-direction: row;
            width: 300px;
            margin: 0 auto;
            justify-content: space-between;
            padding-top: 20px;
        }
        &__item{
            &-action {

            transform: none;}
        }
    }
}
.slider {
    &__button {
        margin-top: auto;
        margin-bottom: 10%;
        @include button;
    }
    &-card {
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 0 calc(50% - 560px);
        box-sizing: border-box;
        &__img {
            width: 400px;
        }
        &__text {
            height: 100%;
            display: flex;
            flex-direction: column;
            margin-left: 100px;
        }
        &__title{
            font-family: 'Block-condensed';
            font-size: 60px;
            color: #FFFFFF;
            line-height: 100px;
            letter-spacing: 16px;
        }
        &__description {
            width: 370px;
            color: #FFFFFF;
            font-family: 'Effra';
            font-size: 20px;
            line-height: 30px;
            font-weight: 300;
        }
    }
}

@media (max-width: 991px) {
    .slider{
        &__button {
            margin-top: 30px;
            margin-bottom: auto;
        }
        &__img {
            width: auto;
        }
        &-card {
            padding: 0;
            margin: 0 auto;
            flex-direction: column;
            &__text {
                margin-left: 0;
            }
        }
    }
    .gallery {
        &__outer::before {
            bottom: 0;
        }
        &__inner {
            padding-top: 0;
            flex-direction: column;
        }
}   }

@media (max-width: 576px) {
    .slider {
        &__img {
            max-width: 100%;
            height: auto;
        }
        &-card {
            align-items: center;
            &__description {
                width: 100%;
            }
            &__img {
                width: 300px;
                height: auto;
            }
            &__text {
                text-align: center;
            }
        }
    }
}