// == reset == //

@import 'reset.scss';

// == fonts == //
@font-face {
    font-family: 'Big John';
    src: url('fonts/BigJohn.otf') format("opentype");
}
@font-face {
    font-family: 'Lucida Grande';
    src: url('fonts/LucidaGrande.ttf') format('truetype');
}
@font-face {
    font-family: 'Effra';
    src: url('fonts/Effra.ttf') format('truetype');
}
@font-face {
    font-family: 'Block-condensed';
    src: url('fonts/BlockCondensedNormal.ttf') format('truetype');
}


// button mixin //

@mixin button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    height: 61px;
    border: 2px solid grey;
    &:hover {
        opacity: .85;
        transition: .2s;
        cursor: pointer;
    }
    &-text {
        font-family: 'Block-condensed';
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: #7A797A;
        line-height: 40px;
        letter-spacing: 6px;
    }
    &-arrow {
        width: 60px;
        height: 26px;
      }
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: block;
}
a:hover {
    opacity: .6;
    transition: .2s;
}

// header section // 
@import 'modules/header.scss';

// slider gallery //
@import 'modules/slider.scss';

// vases section //
@import 'modules/about.scss';


// service section //
@import 'modules/service.scss';





